#content {
  .productPage {
    width: 100%;
    @include pageTopPositionWithBagNavBar;

    .columns {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      @media only screen and (max-width: $mobile-break-point) {
        margin-top: 0;
      }
    }

    .addToBasketButtonWrapper {
      display: none;
      padding: 5px $minHorizontalPadding;
      width: 100%;
      position: fixed;
      left: 0;
      bottom: 0;
      background-color: $whiteColor;
      .addToBasketButton {
        width: 100%;
      }

      @media only screen and (max-width: $mobile-break-point) {
        display: block;
      }
    }
  }
}